.LayoutApplicationPage {
    max-width: 1170px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.LayoutApplicationPage_sidebar {
    display: flex;
    flex-direction: column;
}
.LayoutApplicationPage__prev-menu {
    height: 518px;
}
.LayoutApplicationPage__main {
    display: flex;
    flex-direction: column;
}
.LayoutApplicationPage__top {
    margin: 0;
    padding: 0;
}
.LayoutApplicationPage__center {
    margin: 0;
    padding: 0;
}