.StatusNew {
    /*width: 770px;*/
    /*width: 100%;*/
    height: 300px;
    background: #E34A4E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.StatusNew__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.StatusNew_text {
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin: 0;
}
/* .StatusNew__timeBlock {} */
.StatusNew__time {
    font-style: normal;
    font-weight: 300;
    font-size: 110px;
    line-height: 138px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
/* .StatusNew__time--numbers {} */


/* APPLICATION IN PROGRESS, ISCANCELED OR DONE STYLES */

.SpecialistWindow {
    /*width: 770px;*/
    width: 100%;
    min-height: 300px;
    background: white;
    border-radius: 8px;
    padding: 36px 70px;
    box-sizing: border-box;
}
.SpecialistWindow__title {
    margin: 0 0 19px 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.01em;
}
.color-orange {
    color: #F3BB1C;
}
.color-green {
    color: #3CC13B;
}
.color-grey {
    color: #828282;
}
.SpecialistWindow__content {
    display: flex;
}
.SpecialistWindow__avatar--frame {
    /*width: 164px;*/
    width: 100%;
    height: 164px;
    border-radius: 50%;
    overflow: hidden;
    background: #E34A4E;
    margin-right: 33px;
}
.SpecialistWindow__avatar--image {
    width: 100%;
    height: 100%;
}
.SpecialistWindow__textBlock {
    width: 400px;
}
.SpecialistWindow__title--small {
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.01em;
    color: #4D525B;
    margin: 20px 0 17px 0;
}
.SpecialistWindow__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #4D525B;
    margin: 0;
}
.SpecialistWindow__text--pushDown {
    margin-bottom: 20px;
}
.SpecialistWindow__nameAndPhone {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.SpecialistWindow__name {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #4D525B;
    margin: 0 24px 0 0;
}


/* COMMENT PART STYLES */

.leaveCommentBlock {
    display: flex;
    margin-top: 13px;
    align-items: flex-start;
}
.leaveCommentBlock__likeBlock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 164px;
    margin-right: 33px;
}
.leaveCommentBlock__icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.leaveCommentBlock__icon--like {
    background: url('../../../assets/icons/icon-like.svg')center no-repeat;
}
.leaveCommentBlock__icon--dislike {
    background: url('../../../assets/icons/icon-dislike.svg')center no-repeat;
}
.leaveCommentBlock__icon--like:hover {
    background: url('../../../assets/icons/icon-like__active.svg')center no-repeat;
}
.leaveCommentBlock__icon--dislike:hover {
    background: url('../../../assets/icons/icon-dislike__active.svg')center no-repeat;
}

.leaveCommentBlock__commentBlock {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.leaveCommentBlock__textarea {
    /*width: 400px;*/

    width: 100%;
    height: 160px;
    padding: 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    margin-bottom: 20px;
    resize: none;
}
.leaveCommentBlock__textarea:focus {
    border: 1px solid #E34A4E;
}
.leaveCommentBlock__btn {
    width: 400px;
    display: flex;
    justify-content: flex-end;
}

.leaveCommentBlock__textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #C0C0C0;
    font-size: 18px;
    line-height: 23px;
  }
.leaveCommentBlock__textarea::-moz-placeholder { /* Firefox 19+ */
    color:  #C0C0C0;
    font-size: 18px;
    line-height: 23px;
  }
.leaveCommentBlock__textarea:-ms-input-placeholder { /* IE 10+ */
    color: #C0C0C0;
    font-size: 18px;
    line-height: 23px;
  }
.leaveCommentBlock__textarea:-moz-placeholder { /* Firefox 18- */
    color: #C0C0C0;
    font-size: 18px;
    line-height: 23px;
  }


  /* IF COMMENT IS LEFT HERE ARE THE STYLES FOR THIS */

  .isCommentBlock {
    display: flex;
    margin-top: 13px;
    align-items: flex-start;
  }
  .isCommentBlock--likeOrNot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 164px;
    margin-right: 33px;
  }
  .isCommentBlock__like {
    width: 50px;
    height: 50px;
    background: url('../../../assets/icons/icon-like__active.svg')center no-repeat;
  }
  .isCommentBlock__dislike {
    width: 50px;
    height: 50px;
    background: url('../../../assets/icons/icon-dislike__active.svg')center no-repeat;
  }
  .isCommentBlock__textBlock {
      width: 400px;
  }
  .isCommentBlock__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #4D525B;
    margin: 0 0 10px 0;
  }
  .isCommentBlock__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #4D525B;
    margin: 0;
  }