.StatusNew {
    width: 770px;
    height: 300px;
    background: #E34A4E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.StatusNew__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.StatusNew_text {
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin: 0;
}
/* .StatusNew__timeBlock {} */
.StatusNew__time {
    font-style: normal;
    font-weight: 300;
    font-size: 110px;
    line-height: 138px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
/* .StatusNew__time--numbers {} */


/* APPLICATION IN PROGRESS, ISCANCELED OR DONE STYLES */

.SpecialistWindow {
    width: 770px;
    min-height: 300px;
    background: white;
    border-radius: 8px;
    padding: 36px 70px;
    box-sizing: border-box;
}
.SpecialistWindow__title {
    margin: 0 0 19px 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.01em;
}
.color-orange {
    color: #F3BB1C;
}
.color-green {
    color: #3CC13B;
}
.color-grey {
    color: #828282;
}
.SpecialistWindow__content {
    display: flex;
}
.SpecialistWindow__avatar--frame {
    width: 164px;
    height: 164px;
    border-radius: 50%;
    overflow: hidden;
    background: #E34A4E;
    margin-right: 33px;
}
.SpecialistWindow__avatar--image {
    width: 100%;
    height: 100%;
}
.SpecialistWindow__textBlock {}
.SpecialistWindow__title--small {
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.01em;
    color: #4D525B;
    margin: 20px 0 17px 0;
}
.SpecialistWindow__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #4D525B;
    margin: 0;
}
.SpecialistWindow__nameAndPhone {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.SpecialistWindow__name {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #4D525B;
    margin: 0 24px 0 0;
}