.StatusNew {
    width: 770px;
    height: 300px;
    background: #E34A4E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.StatusNew__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.StatusNew_text {
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin: 0;
}
/* .StatusNew__timeBlock {} */
.StatusNew__time {
    font-style: normal;
    font-weight: 300;
    font-size: 110px;
    line-height: 138px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
/* .StatusNew__time--numbers {} */